*::-webkit-scrollbar {
    margin-left: 10px;
    height: 65px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    background: #4B4949;
    border-radius: 2px;
  }
  *::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 2px;
  }
.dropout__wrapper{
    height: 169px;
    min-width: 112px;
    overflow-y: scroll;
}
.dropout__elements{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2.5px 34px 2.5px 2.5px;
}
.dropout__elem{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.dropout__elem:hover{
  text-decoration: underline;
  color: #ad61ff;
}